/* 边框 */
$border-black: #BCBFC6;
$border-one: #DCDFE6;
$border-two: #E4E7ED;
$border-three: #EBEEF5;
$border-four: #F2F6FC;
$wx-menu-border: $border-two;

/* 字体 */
$font-main: #303133;
$font-normal: #606266;
$font-aide: #909399;
$font-placeholder: #C0C4CC;

/* 间隙 */
$padding-large: 40px;
$padding-one: 30px;
$padding-two: 20px;
$padding-three: 14px;
$padding-four: 10px;
$padding-five: 5px;

/* 其它颜色 */
$light-gray: #EDF2FC;
